<aside class="vertical-nav">
  <div id="vertical-background">
    <div class="logo-image"></div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link vertical-nav-link" href="/"><i class="fas fa-home" style="margin-right: 5px;"></i>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link vertical-nav-link" href="#"><i class="fas fa-shopping-bag" style="margin-right: 5px;"></i>Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link vertical-nav-link" href="#"><i class="far fa-image" style="margin-right: 5px;"></i>Gallery</a>
      </li>
    </ul>
    <div class="vertical-nav-smart-fonts">
      <ul class="nav" style="height: 45px">
        <li class="nav-item" style="border: 1px groove black; width: 51px;">
          <a class="nav-link shopping-cart" href="#" ><i class="fas fa-shopping-cart"></i><span id="shopping-cart-badge" class="badge badge-dark">0</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link search collapsed" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fas fa-search"></i></a>
        </li>
      </ul>
      <div class="collapsing" id="collapseExample">
        <nav class="navbar navbar-light bg-light" style="width: 100%; padding:0; margin-top:20px;">
         <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width: 60%;">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="width: 33%;">Search</button>
         </form>
        </nav>
      </div>
      <ul class="list-inline social" style="margin-top: 30%; margin-left: 30%;">
       <li class="list-inline-item"><a href="#" style="color: #343a40;"><i class="fab fa-facebook-f"></a></i></li>
       <li class="list-inline-item"><a href="#" style="color: #343a40;"><i class="fab fa-twitter"></a></i></li>
       <li class="list-inline-item"><a href="#" style="color: #343a40;"><i class="fab fa-instagram"></a></i></li>
      </ul>
    </div>
  </div>
</aside>
